<div id="content-div">
  <h2>Edit Article</h2>
  <form id="edit-article-form" action="/articles/<%= article._id %>/edit" method="POST">
    <label for="article-title">Article title: </label>
    <input type="text" class="article-input" id="article-title" value="<%= article.title %>" name="article[title]" /><br/>
    <label for="article-category">Category: </label>
    <select class="article-input" id="article-category" value="<%= article.category %>"name="article[category]">
      <option value="Procedures">Procedures</option>
      <option value="Processes">Processes</option>
      <option value="Human Resources">Human Resources</option>
      <option value="Marketing">Marketing</option>
      <option value="Sales">Sales</option>
      <option value="IT">IT</option>
      <option value="New Employee Info">Onboarding / Getting Started</option>
    </select><br/>
    <label for="article-content">Article content: </label>
    <input type="textarea" class="article-input" value="<%= article.content %>" id="article-content" name="article[content]">
    </textarea>
    <input type="hidden" name="article[editDates][]" value="<%= new Date() %>"/>
    <input type="hidden" name="article[editors][]" value="<%= article.editors %>" />
    <input type="submit" value="Submit edits"/>
  </form>
</div>
