<div id="content-div">
  <h2>All Articles</h2>
  <dl id="article-list">
  <% articles.forEach(function(article, i) { %>
  <dt class="article-list-title"><a href="/articles/<%= article._id %>/show"><%= article.title %></a></dt>
  <dd class="article-list-items">
    <span class="article-list-item">Category: <%= article.category %></span>
    <span class="article-list-item">
    Author: <a href="/users/<%= article.author._id %>/show"><%= article.author.name %></a> on <%= article.editDates[0] %></span>.
  </dd>
  <% }); %>
  </dl>
</div>
